{% extends "default/module.html.jinja2" %}

{% block title %} {{ module.modulename }} API - MouseFox Project {% endblock %}

{% block head %}
<div class="pdoc" style="display:flex; justify-content:space-between; width:100%;
    background:#222; position:fixed; top:0; z-index:100; height:2.5em;">

    {# Title #}
    {% set root_link = "../" * module.modulename.split(".").__len__() %}
    <a href="{{ root_link }}" style="color:#936c00; padding-left:1em;">
        <img style="vertical-align:middle;"
            src="https://ariel.ninja/mousefox/icon.png"
            alt="[MouseFox logo]"/>
        <div style="vertical-align:middle; display:inline; font-size:1.5em;">
        The MouseFox Project
        </div>
    </a>

    {# Community #}
    <a href="https://discord.gg/fhg8HcM3rc" style="color:#5865F2; padding:0.4em;">
        <div style="vertical-align:middle; display:inline;">
        Join The Community Discord Server
        </div>
        <img style="vertical-align:middle; display:inline;"
            height="24em"
            src="https://ariel.ninja/res/discord.png"
            alt="[Discord logo]"/>
    </a>

</div>
{% endblock %}

{% block nav %}
    {# Use <p> instead of <div> otherwise padding breaks #}
    <p class="margin_from_header">
    {{ super() }}
    </p>
{% endblock %}

{% block content %}
    <div class="margin_from_header">
    {{ super() }}
    </div>
{% endblock %}
