{% extends "default/module.html.jinja2" %}

{% block title %}MouseFox API{% endblock %}

{% block nav %}
    <a href="https://ariel.ninja/mousefox">
    <img style="vertical-align:middle;" src="https://ariel.ninja/mousefox/icon.png"
        alt="MouseFox logo"/>
    <div style="vertical-align:middle; display:inline; font-size:2em;">MouseFox</div>
    </a>
    {{ super() }}
{% endblock %}
